*{
	box-sizing: border-box;
}
.gallery{
	background-color: LightSkyBlue;
	display:flex;
	/* flex-direction: column; */
	flex-wrap:wrap;
	/*justify-content: space-around;*/
}


.gallery__item{
	background-color: grey;
	width: calc(100%/3 - 40px / 3);
	border: 1px solid black;
	margin-right: 20px;
	margin-bottom: 20px;
}

.gallery__item:nth-child(3n){
	margin-right: 0px;
}

.gallery__item__image{
	display:block;
	width: 100%;
}

.gallery__item__title{
	text-align: center;
}